<nav class="navbar">
  <!-- Logo -->
  <a href="#" class="navbar-logo">Light WhiteBoard</a>

  <!-- Navigation Links -->
  <div class="navbar-links">
    <a routerLink="">Home</a>
    <a *ngIf="islogged" routerLink="/adminpanel">Dashboard</a>
    <a routerLink="/login">Login</a>

    <a *ngIf="islogged" routerLink="/register">SignUp</a>
  </div>

  <!-- Profile Section -->
  <div *ngIf="islogged" class="navbar-profile">
    <span style="color: #fff; font-size: 0.95rem;">Sifat</span>
    <div class="navbar-avatar"></div>
  </div>
  <div class="themechange">
    <button (click)="ontogolet()"  class="toggle-btn">{{isDark ? 'Dark Theme': 'Light Theme'}}</button>
  </div>
</nav>
